body {
    background-color: cadetblue;
}

::selection {
    background-color: #333;
    color: cadetblue;
}

.container {
    width: fit-content;
    height: fit-content;
    margin: 1rem auto 0 auto;
}

h3 {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'verdana', sans-serif;
    color: cadetblue;
    text-shadow: 1px 1px 4px black;
    cursor: default;
    padding: 0 16px;
}

/*? Form styles */

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    border: none;
    outline: none;
    padding: 6px 6px 6px 10px;
    font-size: 16px;
    color: #eee;
    background-color: #444444aa;
    letter-spacing: .4px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid transparent;
    transition: .3s linear;
}

input::placeholder {
    color: cadetblue;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

button {
    outline: none;
    padding: 4px;
    margin-top: 1rem;
    font-size: 15px;
    border-radius: 100px;
    border: 2px solid #444;
    cursor: pointer;
    transition: .3s linear;
    color: #444;
    background-color: cadetblue;
}

input:focus {
    border-color: #fff;
}

button:focus,
button:hover {
    box-shadow: inset 0 0 12px 12px #444444ff;
    color: cadetblue;
    word-spacing: 28px;
}

fieldset {
    border: 2px solid #44444466;
    padding: 1.5rem;
    border-radius: 10px 10px 0px 0px;
    color: #444;
    font-weight: 500;
    font-family: 'poppins';
}

legend {
    padding: 0px 6px;
    cursor: default;
}

/*? Search & Results */

.results {
    margin-top: 3rem;
    height: 320px;
    width: 90%;
    margin: 3rem auto;
    overflow: auto;
    font-family: 'poppins';
    color: #444;
    display: flex;
    align-items: center;
    gap: 10px;
}

.results .search-data {
    padding: 10px;
    height: 80%;
    border-radius: 10px;
    background-color: #4444441f;
    cursor: pointer;
    transition: .3s linear;
}

.search-data:hover {
    background-color: #444444af;
    color: cadetblue;
}

/*? scrollbar style */

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-button {
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    background-color: #4444448f;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    cursor: pointer;
}

/*? navbar */

.nav {
    width: fit-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
}

.nav a {
    color: #444;
    text-underline-offset: 2px;
    transition: .2s linear;
    font-weight: 600;
    font-size: 14px;
    font-family: 'poppins';
    border-left: 2px solid #444;
    padding: 3px 0px 3px 12px;
}

.nav a:hover,
.nav a:active,
.nav a:focus,
.nav a.active {
    color: white;
    border-radius: 2px;
    outline: none;
    border-color: white;
}

/*? message handlers */
.signup-errors,
.login-errors,
.signup-success,
.login-success {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.signup-errors,
.login-errors {
    color: #ff00007d;
}

.signup-success,
.login-success {
    color: #008000;
}